In [100]:
import pandas as pd
import re
import us

# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [101]:
df = pd.read_csv("posts.csv",index_col=0)

In [102]:
df = df[["post"]]
df["post"] = df["post"].str.strip("gt.classof2025")
df["post"] = df["post"].str.replace("’","'")
df

                                                                       post
date
2021-05-14T01:02:03.000Z  Hi! My name is Adian Basalay, but my friends c...
2021-05-14T01:02:03.000Z  Hi! My name is Adian Basalay, but my friends c...
2021-06-07T22:10:41.000Z  Hey everyone! I'm Aidan and i'm from lawrencev...
2021-05-14T18:28:26.000Z  Hey! I'm Aidan, and I'm from Pittsburgh, PA. I...
2021-06-07T22:10:41.000Z  Hey everyone! I'm Aidan and i'm from lawrencev...
...                                                                     ...
2021-03-28T17:41:49.000Z  Hi everyone, my name is Zaeem. I'm from Califo...
2021-04-14T15:24:14.000Z  Hey! My name is Ziv (pronounced Zeev), and I'm...
2021-05-06T20:35:09.000Z  eric.vannessadmin couldn't even ctrl+c ctrl+v ...
2021-02-18T17:31:52.000Z  Check out @beadedbyrachael for the cutest coll...
2021-02-16T16:59:01.000Z  Hello Class of 2025,Congratulations on your ac...

[675 rows x 1 columns]

In [95]:
def get_name(post):
    name = re.search(r"[mM]y [Nn]ame'?s ([A-z]* ?[A-z]*)",post)
    if name:
        return name.group(1).replace(" and", "").replace(" from", "")
    name = re.search(r"[mM]y [Nn]ame is ([A-z]* ?[A-z]*)",post)
    if name:
        return name.group(1).replace(" and", "").replace(" from", "")
    name = re.search(r"[Ii][' a]*m ([A-z]* ?[A-z]*)[ ,\.!]", post)
    if name:
        return name.group(1).replace(" and","").replace(" from", "")

def get_hometown(post, state=False):
    hometown = re.search(r"from ([A-z]*[ ,]*(([A-z]{2}[ ,.])|[A-z ]*))",post)
    if hometown:
        if state:
            return hometown.group(3)
        splitters = [" and",' but',' I ',' i ']
        hometown = hometown.group(1).strip(" ,")
        for splitter in splitters:
            hometown = hometown.split(splitter)[0]
        return hometown
    hometown = re.search(r"in ([A-z]*[ ,]*(([A-z]{2}[ ,.])|[A-z ]*))",post)
    if hometown:
        if state:
            return hometown.group(3)
        splitters = [" and",' but',' I ',' i ']
        hometown = hometown.group(1).strip(" ,")
        for splitter in splitters:
            hometown = hometown.split(splitter)[0]
        return hometown

def get_state(hometown, post):
#     print(hometown, post)

    def contains_word(text, word):
        return bool(re.search(r'\b' + re.escape(word) + r'\b', text))

    containsHT = True
    state = None
    if not hometown:
        containsHT = False
    if containsHT:
        if re.search(r"[Aa]tlanta", hometown):
            return "GA"
        if re.search(r"[Gg]eorgia", hometown):
            return "GA"
        
    if state == None:
        for s in us.states.STATES:
            if contains_word(post, s.name) or contains_word(post, s.name.lower()) or contains_word(post,s.abbr):
                state = s.abbr
        if "DC" in post or "D.C." in post:
            state =  "DC"
    return state

def get_region(state, post):
    regions = {
        "georgia": ["GA"],
        "midwest": ["ND","SD","NB","KS", "MN","MO","IA","WI","IL","IA","MI", "OH"],
        "rockies": ["MT","ID","WY","NV","UT","CO"],
        "southwest": ["AZ","NM","TX","OK", "AR"],
        "pacific": ["WA","OR","CA"],
        "southeast": ["LA","MS","AL","SC","NC","VA","WV","KY","TN","FL"],
        "northeast": ["PA","NY","NJ","CT","RI","MA","VT","NH","ME", "DC","D.C.","DE","MD"]
    }
    for r, states in regions.items():
        if state in states:
            return r
            

def get_major(post):
    major = re.search(r"major(?:ing)? in ([A-z]* [A-z]*)[ ,.]", post)
    if major:
        return major.group(1).strip(" and")
    major = re.search(r"([A-z]* [A-z]*) major", post)
    if major:
        return major.group(1).strip(" and")

def get_insta(post):
    insta = re.search(r"i?n?s?t?a?g?r?a?m?: @?([0-z.]*)",post, re.IGNORECASE)
    if insta:
        return insta.group(1).replace("sc:","").replace("Snap:","").replace("snap:","")

df["name"] = df["post"].apply(get_name)
df["hometown"] = df["post"].apply(get_hometown)
df["region"] = ["" for i in range(len(df))] 
df["state"] = ["" for i in range(len(df))] 
for index, elem in df.iterrows():
    df.loc[index, "state"] = get_state(elem.hometown, elem.post)
    df.loc[index, "region"] = get_region(elem.state, elem.post)
df["major"] = df["post"].apply(get_major)
df['insta'] = df['post'].apply(get_insta)
df["gender"] = ["" for i in range(len(df))]

df

,post,name,hometown,region,state,major,insta,gender
date,,,,,,,,
2021-05-14T01:02:03.000Z,"Hi! My name is Adian Basalay, but my friends c...",Adian Basalay,a little town called Yates City,midwest,IL,industrial desig,Adian.Basalay3w,
2021-05-14T01:02:03.000Z,"Hi! My name is Adian Basalay, but my friends c...",Adian Basalay,a little town called Yates City,midwest,IL,industrial desig,Adian.Basalay3w,
2021-06-07T22:10:41.000Z,Hey everyone! I'm Aidan and i'm from lawrencev...,Aidan,"lawrenceville,GA",georgia,GA,environmental engineering,aidanblackshire,
2021-05-14T18:28:26.000Z,"Hey! I'm Aidan, and I'm from Pittsburgh, PA. I...",Aidan,"Pittsburgh, PA.",northeast,PA,None,aragoo233w,
2021-06-07T22:10:41.000Z,Hey everyone! I'm Aidan and i'm from lawrencev...,Aidan,"lawrenceville,GA",georgia,GA,environmental engineering,aidanblackshire,
...,...,...,...,...,...,...,...,...
2021-03-28T17:41:49.000Z,"Hi everyone, my name is Zaeem. I'm from Califo...",Zaeem,California currently living in Pakistan,georgia,GA,earth sciences,zaeem__ahmad_My,
2021-04-14T15:24:14.000Z,"Hey! My name is Ziv (pronounced Zeev), and I'm...",Ziv,"Alpharetta, GA.",georgia,GA,Neuroscience with,zivilan,
2021-05-06T20:35:09.000Z,eric.vannessadmin couldn't even ctrl+c ctrl+v ...,None,couldn,None,None,None,None,
2021-02-18T17:31:52.000Z,Check out @beadedbyrachael for the cutest coll...,None,None,None,None,None,None,
2021-02-16T16:59:01.000Z,"Hello Class of 2025,Congratulations on your ac...",None,our bio,georgia,GA,None,None,

In [96]:

boys = open('boynames.txt', 'r')
boys = boys.read().split('\n')

girls = open('girlnames.txt', 'r')
girls = girls.read().split('\n')

def add_boy(name):
    f = open('boynames.txt','a')
    f.write(f"\n{name}")
    f.close()

def add_girl(name):
    f = open('girlnames.txt','a')
    f.write(f"\n{name}")
    f.close()

In [97]:
for i in range(len(df)):
    if not df["name"].iloc[i]:
        continue
    name = df["name"].iloc[i].split(' ')[0]
    name = name[0].upper() + name[1:].lower()
    if name in boys:
        df["gender"].iloc[i] = "B"
    elif name in girls:
        df["gender"].iloc[i] = "G"
    else:
        df["gender"].iloc[i] = "BLANK"

In [98]:



for i in range(len(df)):
    if not df["name"].iloc[i]:
        continue
    name = df["name"].iloc[i].split(' ')[0]
    name = name[0].upper() + name[1:].lower()
    if name in boys:
        df["gender"].iloc[i] = "B"
        continue
    elif name in girls:
        df["gender"].iloc[i] = "G"
        continue
    inp = input(f"{name}?(B/b/q/S/g/G) ")
    if not inp:
        continue
    inp = inp[0]
    if inp == "B":
        df["gender"].iloc[i] = "B"
        add_boy(name)
        boys.append(name)
    elif inp == "b":
        df["gender"].iloc[i] = "B"
    elif inp == 'g':
        df["gender"].iloc[i] = "G"
    elif inp == 'G':
        df["gender"].iloc[i] = "G"
        add_girl(name)
        girls.append(name)
    elif inp == "S":
        continue
    elif inp in ['q','Q']:
        break

Adian?(B/b/q/S/g/G) q

In [99]:

df = df[df["gender"] != "G"]

df[["name","hometown","state","region","gender","major",'insta','post']].to_csv("new.csv")